body{
  font-family: "Proba", Arial, Helvetica, sans-serif;
  background-color: #19a1ad;
}

main{
  display: flex;
  justify-content: center;
  text-align: center;
}
.card{
  background-color: white;
  background-image: url(images/bg-pattern-card.svg);
  background-size: auto;
  background-repeat: no-repeat;
}

@font-face {
  font-family: Proba;
  src: url(design/ProbaPro-SemiBold.otf);
}