body{
  font-family: "Proba", Arial, Helvetica, sans-serif;
}

main{
  display: flex;
  justify-content: center;
  text-align: center;
}
.card{
  border: solid;
}

@font-face {
  font-family: Proba;
  src: url(design/ProbaPro-SemiBold.otf);
}