body{
  font-family: "Proba", Arial, Helvetica, sans-serif;
  background-color: #19a1ad;
  
}

main{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #303030;
  
}
.card{
  background-color: white;
  background-image: url(images/bg-pattern-card.svg);
  background-size: auto;
  background-repeat: no-repeat;
  border-radius: 5%;
  padding: 1em;
}

.card-icon img{
  border-radius: 50%;
  border: solid white 5px;
}

@font-face {
  font-family: Proba;
  src: url(design/ProbaPro-SemiBold.otf);
}